@model Payments.Web.Controllers.PaymentResposnse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        Something went wrong: @Model.Message
    </div>
</body>
</html>
