@model Payments.Web.Controllers.PaymentSetup
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy via eWAY</title>
</head>
    <body>
        <br/>
        <h3>Payment test (EWAY)</h3>
        <div id ="information">info</div>
        <!-- to display errors returned by createToken -->
        <div style="background-color: lightblue"><h4>debug:</h4>
            <span class="payment-errors"></span>
        </div>
        <form action="" method="POST" id="payment-form">
            <div class="form-row">
                <label>Access Code (Hidden)</label>
                <input type="text" size="160" autocomplete="off" class="access-code" value="@Model.AccessCode" />
            </div>
            <div class="form-row">
                <label>Card Name</label>
                <input type="text" size="150" autocomplete="off" class="card-name" value="Test User" />
            </div>
            <div class="form-row">
                <label>Card Number</label>
                <input type="text" size="20" autocomplete="off" class="card-number" value="4444333322221111" />
            </div>
            <div class="form-row">
                <label>CVN</label>
                <input type="text" size="4" autocomplete="off" class="card-cvn" value="123" />
            </div>
            <div class="form-row">
                <label>Expiration (MM/YY)</label>
                <input type="text" size="2" class="card-expiry-month" value="12"/>
                <span> / </span>
                <input type="text" size="2" class="card-expiry-year" value="14"/>
            </div>
            <button type="submit" class="submit-button">Submit Payment</button>
        </form>
        
        <h3>iframe loads here:</h3>
        <iframe id="internal-payment" src="~/Scripts/eway-payment.html"></iframe>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/eway.js"></script>
    <script>
        //Runs after response from gateway
        function ewayResponseHandler(status, response) {
            alert('response came');
            console.log('ewayResponseHandler status = ');
            console.log(status);
            console.log('ewayResponseHandler response = ');

            if (response.error) {
                // re-enable the submit button
                $('.submit-button').removeAttr("disabled");
                // show the errors on the form
                $(".payment-errors").html(response.error.message);
            } else {
                var form$ = $("#payment-form");

                // token contains id, last4, and card type
                var token = response['id'];
                // insert the token into the form so it gets submitted to the server
                /*form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
                // and submit
                form$.get(0).setAttribute('action', 'PaymentComplete');
                form$.get(0).submit();*/

                $('#information').text('payment is being processed, please wait...');

                $.ajax({
                    url: '/Billing/PaymentComplete',
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(response),
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        console.log('done');
                    },
                });
            }
        };
        

        // Wire up the form to submit 
        $(document).ready(function () {
            $("#payment-form").submit(function (event) {
                // disable the submit button to prevent repeated clicks
                $('.submit-button').attr("disabled", "disabled");
                // createToken returns immediately - the supplied callback submits the form if there are no errors
                /*Stripe.createToken({
                    number: $('.card-number').val(),
                    cvc: $('.card-cvc').val(),
                    exp_month: $('.card-expiry-month').val(),
                    exp_year: $('.card-expiry-year').val()
                }, stripeResponseHandler);*/
                console.log('calling eWAY.processPayment');

                eWAY.processPayment({
                    EWAY_ACCESSCODE: $('.access-code').val(),
                    EWAY_CARDNAME: $('.card-name').val(),
                    EWAY_CARDNUMBER: $('.card-number').val(),
                    EWAY_CARDCVN: $('.card-cvc').val(),
                    EWAY_CARDMONTH: $('.card-expiry-month').val(),
                    EWAY_CARDYEAR: $('.card-expiry-year').val()
                });

                /*
                EWAY_ACCESSCODE
                EWAY_CARDNAME
                EWAY_CARDNUMBER
                EWAY_CARDMONTH
                EWAY_CARDYEAR
                EWAY_CARDCVN
                */

                event.preventDefault();
                return false; // submit from callback
            });
        });

        window.eWAY.processPayment = function (paymentDetails) {

            /*if (!window.dojox.validate(paymentDetails.EWAY_CARDNUMBER)) {
                alert("Invalid credit card!");
                return;
            }*/

            /*$.post('https://au.ewaypayments.com/hotpotato/payment', paymentDetails,
               function (data) {
                   alert("Data Loaded: " + data);
               });
            
            return;*/
            
            // NOTE: we're not breaching the http://en.wikipedia.org/wiki/Same_origin_policy with this iFrame
            
            var paymentFrame = $("#internal-payment");
            console.log('paymentFrame');
            console.log(paymentFrame);

            var nestedForm = $(paymentFrame.contents().find('form'));
            console.log('nestedForm');
            console.log(nestedForm);
            
            return;
            
            $.ajax({
                url: 'https://au.ewaypayments.com/hotpotato/payment',
                type: 'POST',
                dataType: 'jsonp',
                
                data: JSON.stringify(paymentDetails),

                contentType: 'application/json; charset=utf-8',
                //contentType: 'application/x-javascript',
                
                success: function (status, response) {
                    $(".payment-errors").text('post to eway failed');
                    console.log('done - submit to eWAY, next 2 lines; status, response');
                    console.log(status);
                    console.log(response);
                    ewayResponseHandler(status, response);
                },
                error: function () {
                    console.log('post to eWAY FAILED');
                    $(".payment-errors").text('post to eway failed');
                }
            });
        };

    </script>
</html>
    