@model Payments.Web.Controllers.PaymentSetup
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy via eWAY</title>
</head>
    <body>
        <br/>
        <h3>Payment test (EWAY)</h3>
        <div id ="information">info</div>
        <!-- to display errors returned by createToken -->
        <div style="background-color: lightblue"><h4>debug:</h4>
            <span class="payment-errors"></span>
            <span class="card-errors"></span>
        </div>
        <div id="payment-shell">
            <div class="form-row">
                <label>Access Code (Hidden)</label>
                <input type="text" size="50" autocomplete="off" class="eway-access-code" value="@Model.AccessCode" />
            </div>
            <div class="form-row">
                <label>Card Name</label>
                <input type="text" size="30" autocomplete="off" class="card-name" value="Test User" />
            </div>
            <div class="form-row">
                <label>Card Number</label>
                <input type="text" size="20" maxlength="20" autocomplete="off" class="card-number" value="4444333322221111" />
            </div>
            <div class="form-row">
                <label>CVC</label>
                <input type="text" size="4" maxlength="4" autocomplete="off" class="card-cvc" value="123" />
            </div>
            <div class="form-row">
                <label>Expiration (MM/YY)</label>
                <input type="text" size="2" maxlength="2" class="card-expiry-month" value="12"/>
                <span> / </span>
                <input type="text" size="2" maxlength="2" class="card-expiry-year" value="12"/>
            </div>
            <button id="payment-shell-submit" type="submit" class="submit-button">Submit Payment</button>
        </div>
        
        <h3>iframe loads here:</h3>
        <iframe allow-same-origin allow-forms width="500" height="400" id="internal-payment" src="~/Scripts/eway-payment.html"></iframe>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/PaymentGateWay.js"></script>
    <script>
        

        // Wire up the form to submit 
        $(document).ready(function () {
            
            $("#payment-shell-submit").click(function () {
                // disable the submit button to prevent repeated clicks
                $('.submit-button').attr("disabled", "disabled");
                // createToken returns immediately - the supplied callback submits the form if there are no errors
                /*Stripe.createToken({
                    number: $('.card-number').val(),
                    cvc: $('.card-cvc').val(),
                    exp_month: $('.card-expiry-month').val(),
                    exp_year: $('.card-expiry-year').val()
                }, stripeResponseHandler);*/
                var errorDisplay = $(".card-errors");
                var errors = "";
                
                var valid = true;
                if (!window.PaymentGateWay.validateCardNumber($('.card-number').val())) {

                    errors = "Looks like you have mistyped your credit card number <br />";
                    valid = false;
                }
                console.log('ex month = ' + $('.card-expiry-month').val());
                console.log('ex year = ' + $('.card-expiry-year').val());
                if (!window.PaymentGateWay.validateExpiry($('.card-expiry-month').val(), $('.card-expiry-year').val())) {

                    errors = errors + "Card expiry date is not correct <br />";
                    valid = false;
                }
                if (!window.PaymentGateWay.validateCVC($('.card-cvc').val())) {

                    errors = errors + "Card CVC is not in the correct format needs to be 3 or 4 digits <br />";
                    valid = false;
                }

                console.log('access code! !! ! ! != ' + $('.eway-access-code').val());
                
                if (valid) {
                    window.PaymentGateWay.processPayment({
                        ewayAccessCode: $('.eway-access-code').val(),
                        cardName: $('.card-name').val(),
                        cardNumber: $('.card-number').val(),
                        cardCvc: $('.card-cvc').val(),
                        cardMonth: $('.card-expiry-month').val(),
                        cardYear: $('.card-expiry-year').val()
                    });
                }
                else {
                    errorDisplay.html(errors);
                    console.log(errorDisplay);
                    console.log(errors);
                }
            });
        });

        window.PaymentGateWay.processPayment = function (paymentDetails) {
            // NOTE: we're not breaching the http://en.wikipedia.org/wiki/Same_origin_policy with this iFrame
            
            var nestedForm = $("#internal-payment").contents().find('form');

            // Copy all the card details to the form to send
            nestedForm.find('.eway-access-code').val(paymentDetails.ewayAccessCode);
            nestedForm.find('.card-name').val(paymentDetails.cardName);
            nestedForm.find('.card-number').val(paymentDetails.cardNumber);
            nestedForm.find('.card-cvc').val(paymentDetails.cardCvc);
            nestedForm.find('.card-expiry-month').val(paymentDetails.cardMonth);
            nestedForm.find('.card-expiry-year').val(paymentDetails.cardYear);
            
            // paranoid check, we've copied fields over to nested form, lets rebuild the details, and validate them as a group
            var finalDetails =
                {
                    ewayAccessCode: nestedForm.find('.eway-access-code').val(),
                    cardName: nestedForm.find('.card-name').val(),
                    cardNumber: nestedForm.find('.card-number').val(),
                    cardCvc: nestedForm.find('.card-cvc').val(),
                    cardMonth: nestedForm.find('.card-expiry-month').val(),
                    cardYear: nestedForm.find('.card-expiry-year').val()
                };
            
            if (window.PaymentGateWay.isValidForEway(finalDetails)) {
                // submit the iframe form
                console.log('ok');
                nestedForm.submit();
            } else {
                console.log('not ok');
            }
        };
    </script>
</html>
    