@model Payments.Web.Controllers.PaymentSetup
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy via eWAY</title>
</head>
    <body>
        <br/>
        <h3>Payment test (EWAY)</h3>
        <div id ="information">info</div>
        <!-- to display errors returned by createToken -->
        <div style="background-color: lightblue"><h4>debug:</h4>
            <span class="payment-errors"></span>
            <span class="card-errors"></span>
            <span class="report-progress"></span>
        </div>
        <div id="payment-shell">
            <div class="form-row">
                <label>Access Code (Hidden)</label>
                <input type="text" size="50" autocomplete="off" class="eway-access-code" value="@Model.AccessCode" />
            </div>
            <div class="form-row">
                <label>Card Name</label>
                <input type="text" size="30" autocomplete="off" class="card-name" value="Test User" />
            </div>
            <div class="form-row">
                <label>Card Number</label>
                <input type="text" size="20" maxlength="20" autocomplete="off" class="card-number" value="4444333322221111" />
            </div>
            <div class="form-row">
                <label>CVC</label>
                <input type="text" size="4" maxlength="4" autocomplete="off" class="card-cvc" value="123" />
            </div>
            <div class="form-row">
                <label>Expiration (MM/YY)</label>
                <input type="text" size="2" maxlength="2" class="card-expiry-month" value="12"/>
                <span> / </span>
                <input type="text" size="2" maxlength="2" class="card-expiry-year" value="12"/>
            </div>
            <button id="payment-shell-submit" type="submit" class="submit-button">Submit Payment</button>
        </div>
        
        <iframe width="0" height="0" id="internal-payment" src="~/Scripts/eway-payment.html"></iframe>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/PaymentGateWay.js"></script>
    <script>

        // Wire up the form to submit 
        $(document).ready(function () {
            $("#internal-payment").hide();
            
            var onSuccess = function (response) {
                $("#payment-shell input").val('');
                $("#payment-shell").hide();
                $(".report-progress").html(response.html());
            };

            var onTimeout = function () {
                $(".report-progress").html('waited 1 minute, sorry we got no response, please contact us');
            };
            
            var whereToShowErrors = $(".card-errors");
            var hiddeniFrame = $("#internal-payment");

            $("#payment-shell-submit").click(function() {
                window.PaymentGateWay.ewayPaymentSubmit(this, whereToShowErrors, hiddeniFrame, onSuccess, onTimeout);
            });
            
        });
    </script>
</html>
    