@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SecurePayBuy</title>
</head>
    <body>
        <h3>SecurePay - SecureFrame</h3>
        <div>
        
            <form id="nested-payment-form" action="https://payment.securepay.com.au/test/v2/invoice" method="POST" >
                
                <div class="form-row">
                    
                    <label>bill_name (Hidden)</label> <!-- type="hidden" -->
                    <input type="text" name="bill_name" value="transact">
                    
                    <label>merchant_id(Hidden)</label> <!-- type="hidden" -->
                    <input type="text" name="merchant_id" value="ABC0001">
                    
                    <input type="text" name="primary_ref" value="Picnic-Buy">

                    <input type="text" name="txn_type" value="0">

                    <input type="text" name="amount" value="1337.00">

                    <input type="text" name="fp_timestamp" value="201106141010">
                    
                    <!-- this is a SHA1 hash of the above fields -->
                    <input type="text" name="fingerprint" value="01a1edbb159aa01b99740508d79620251c2f871d">
                    
                    <input type="text" name="display_receipt" value="no">
                    <input type="text" name="return_url" value="http://localhost:51868/PaymentComplete/SecurePayGood">
                    
                    <input type="text" name="return_url_text" value="Thanks from Picnic :)">
                    <input type="text" name="return_url_target" value="parent">
                    
                    <input type="text" name="callback_url" value="http://localhost:51868/PaymentComplete/SecurePayGood">
                    
                    <input type="text" name="primary_ref" value="123456">

                    <input type="text" name="store" value="yes">
                    <input type="text" name="store_type" value="payor">
                    <input type="text" name="payor" value="MyCustomer">
                    


                </div>
                <div class="form-row">
                    <label>Card Name</label>
                    <input id="CARDNAME"  name="CARDNAME" type="text" maxlength="150" size="30"  autocomplete="off" class="card-name" />
                </div>
                <div class="form-row">
                    <label>Card Number</label>
                    <input id="CARDNUMBER"  name="CARDNUMBER" type="text" maxlength="20" size="20" autocomplete="off" class="card-number" />
                </div>
                <div class="form-row">
                    <label>CVC</label>
                    <input id="CARDCVN"  name="CARDCVN" type="text" maxlength="4" size="4" autocomplete="off" class="card-cvc" />
                </div>
                <div class="form-row">
                    <label>Expiration ( MM / YY )</label>
                    <input id="CARDMONTH"  name="CARDMONTH" type="text" size="2" maxlength="2" class="card-expiry-month"/>
                    <span> / </span>
                    <input id="CARDYEAR"  name="CARDYEAR" type="text" size="2" maxlength="2" class="card-expiry-year" />
                </div>
                <input type="submit" value="PAY" />
            </form>
        </div>
    </body>
</html>
