<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
	<add key="Payment.Username" value="you@gmail.com.sand"/>
	<add key="Payment.Password" value="MyPassw0rd"/>
	<add key="Payment.CustomerID" value="99999999"/>
    </appSettings>
    <!--<appSettings>
        <add key="Payment.Username" value="test@eway.com.au"/>
        <add key="Payment.Password" value="test123"/>
        <add key="Payment.CustomerID" value="87654321"/>
    </appSettings>-->
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RapidAPISoap">
                    <security mode="Transport" />
                </binding>
                <binding name="RapidAPISoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://au.ewaypayments.com/hotpotato/soap.asmx"
                binding="basicHttpBinding" bindingConfiguration="RapidAPISoap"
                contract="RapidAPI.RapidAPISoap" name="RapidAPISoap" />
        </client>
    </system.serviceModel>
</configuration>
