@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentComplete</title>
</head>
<body>
    <div>
        Thank you. Your payment completed successfully.
    </div>
</body>
</html>
